.App {
  text-align: center;
  background-color: #000;
}

.Background-App-logo {
  margin: 50px 0px 0px 0px;
  height: 40vmin;
  width: 100%;
  background: #2682df;
  pointer-events: none;
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0);
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  width: 100%;
  border-bottom: solid 1px #fff;
  background-color: transparent;
  color: #fff;
}

.App-header h2 {
  border-bottom: solid 1px #fff;
}

.App-header p {
  width: 70%;
}

.App-link {
  color: #61dafb;
}

table {
  border-spacing: 0;
}

table td, table th {
  border-bottom: solid 1px #fff;
  cursor:pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.particles {
  z-index: 0;
  background-color: #282c34;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.contents {
  margin: 0px 50px;
  width: 100%-100px;
  text-align: left;
  overflow: auto;
}

dl.contents {
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-flexbox;
}

dl.contents dt {
  width: 20%;
}
dl.contents dd {
  width: 75%;
}

.box {
  position: relative;
  margin: 2em 50px;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.box h2 {
  color: #95ccff;
  border-bottom: solid 3px #95ccff;
}

.box h3 {
  text-decoration: underline;
}

.box .contents {
  margin: 0px 10%;
  width: 80%;
  text-align: left;
  overflow: auto;
}

.App-header img.phone {
  width: 27%;
  display: inline-flex;
}

.App-header img {
  width: 40%;
}

#nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #ffffff;
  font-size: 25px;
  list-style: none;
  overflow: hidden;
  border-bottom: solid 1px #888;
}

#nav li {
  width: 140px;
  text-align: center;
  background-color: #282c34;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
#nav a {
  text-decoration: none;
}
#nav a:link {
  color: #ffffff;
}
#nav a:visited {
  color: #ffffff;
}
#nav a:active {
  color: #ffffff;
}

#nav li:hover{
  background-color: #666666;
}
